@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/backspace.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@800&display=swap');

.header {
  position: relative;
  left: 0;
  border-bottom: 1px solid #d3d6da;
  width: 100vw;
  background-color: white;
  z-index: 5;
  margin-top: 0;
  height: 57px;
  text-align: center;
}

.title {
  font-family: 'Konkhmer Sleokchher', cursive;
  /* font-family: 'Libre Franklin', sans-serif; */
  /* font-family: 'Abril Fatface', cursive; */
  /* font-family: 'Noto Serif', serif; */
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 1.75rem;
  padding-top: 5px;
  margin-top: 0;
}

.game-board {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40px;
}


.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.row {
  display: flex;
  margin-bottom: 5px;
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-right: 5px;
  /* font-family: 'Konkhmer Sleokchher', cursive; */
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}


.filled {
  border: 2px solid #878a8c;
  animation: fill 100ms ease-in-out;
}

@keyframes fill {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.flipping {
  animation: flip 1s ease-in-out;
}

@keyframes wrong {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(3px, 0);
  }
  20% {
    transform: translate(-3px, 0);
  }
  30% {
    transform: translate(3px, 0);
  }
  40% {
    transform: translate(-3px, 0);
  }
  50% {
    transform: translate(3px, 0);
  }
  60% {
    transform: translate(-3px, 0);
  }
  70% {
    transform: translate(3px, 0);
  }
  80% {
    transform: translate(-3px, 0);
  }
  90% {
    transform: translate(1px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes opac {
  0% {
    opacity: 0.8;
  }
  25% {
    opacity: 1
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes celebration {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -40px);
  }
  50% {
    transform: translate(0, 20px);
  }
  70% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.celeb {
  animation: celebration 500ms ease-out;
}

.isWrong {
  animation: wrong 0.6s ease-in-out;
}


#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 6px;
  font-family: 'Libre Franklin', sans-serif;
  height: 200px;
  margin: 0 8px;
  user-select: none;
  flex: .5;
  touch-action: manipulation;
  margin-left: auto;
  margin-right: auto;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 6px 0 0;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  background-color: #d3d6da;
  color: #000000;
  height: 58px;
  /* width: 5vmin; */
  width: 43.594px;
  min-width: 20px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
  line-height: 1.15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter {
  font-size: 12px;
  width: 65.406px;

}


.last {
  margin-right: 0;
}



.toastContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  width: fit-content;
  font-family: 'Libre Franklin', sans-serif;
  z-index: 5000;
}

.toast {
  position: relative;
  margin: 16px;
  background-color: black;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 4px;
  opacity: 1;
  animation: opac 1500ms;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.toast-noanim {
  position: relative;
  margin: 16px;
  background-color: black;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 4px;
  opacity: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.toast-othanim {
  position: relative;
  margin: 16px;
  background-color: black;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 4px;
  opacity: 1;
  animation: opac 6000ms;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}


@media only screen and (max-height: 895px ) {
  .box {
    height: 6.7vh;
    width: 6.7vh;
  }
}

@media only screen and (max-width: 560px) {
  .keyboard-button {
    width: 7.5vmin;
  }

  .enter {
    width: 11.25vmin;
  }
}

